*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    outline: none;
    border: none;
    font-family: 'Laila', sans-serif;
    text-decoration: none;
    transition: all 200ms linear;
}
$green:#42d470;
$blue:#2c64d4;
$light-green:#f0fdfa;
$light-color:#777;
$light-white:#eee;
$black:#444;
$white:#fff;
$border: .2rem solid $green;
$box-shadow:.5rem 1rem rgba(0,0,0,.1);
@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val,1fr));
    gap: 2rem;
}
@mixin titleText($titleSize) {
    font-size: $titleSize;
    text-transform: capitalize;
    color: $black;
}
@mixin graphText($graphSize) {
    font-size: $graphSize;
line-height: 2;
    color: $black;
}
html{
    font-size: 62.5%;
    width: 100%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        width: 0.5rem;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: $green;
        border-radius: 24px;
    }
img{
    user-select: none;
}
}
section{
    padding: 5rem 10%;
}
.header{
    position: sticky;
    width:100%;
    top: 0;
    right: 0;
    background: #272727;
    box-shadow: $box-shadow;
    padding: 2rem 3vw;
    display: flex;
    align-items: center;
    z-index: 1000;
    font-size: 2rem;
    .logo{
     margin-right: auto;
     @include titleText(2.5rem);
     font-weight: bold;
       color: brown;
           
        i{
       color: $white;    
        
        }
    }
    .navbar{
    position: relative;
    #close-navbar{
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        font-size: 4rem;
        color: $white;
        display: none;
        z-index: 1000000;

        &:hover{
            transform: rotate(90deg);
            color: $green;
        }
    }
    a{
        margin-right: 2rem;
        @include titleText(2rem);
        color: white;
        &.active{
            color: $green;
        }
        &:hover{
            color: $green;
            text-decoration: underline;
        }
        
        
    }}
    .icons > div{
        cursor: pointer;
        font-size: 2.8rem;
        color: $black;
        margin-left: 2rem;
        margin-right: 2vw;
        position: relative;
    &:hover{
        color: $green;
    }

}
#menu-btn{
    display: none;
    color: white;
    &:hover{
        color: $green;
    }
    
}
#account-btn{
    color: white;
}
#account-btn:hover{
    color: $green;
}
}

.account-form{
    position: fixed;
    top: 0; right: -100%;
    width: 100vw;
    background: $white;
    display: flex;
    flex-flow: column;
    gap: 2.2rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    z-index: 1000000;
    padding: 2rem;
    &.active{
        box-shadow: 0 0 0 100vw rgba(0,0,0,1);
        right: 0%;
        transition: all 1s ease-in-out;
    }
    #close-form{
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
        font-size: 4rem;
        color: $black;
        z-index: 1000000;

        &:hover{
            transform: rotate(90deg);
            color: $green;
        }
    }
    .login-form{
        border: .4rem solid $white;
        padding: 1.2rem;
        text-align: center;
        background: $blue;
        display: none;
        &.active{
            display: block;
            width: 60vw;
            margin-top: 0;
        //    margin: 50%;
        }
        h3{
            text-transform: uppercase;
            @include titleText(3rem);
            padding-bottom: 1rem;
            background: $green;
            padding: 2rem;
            margin-top: 0%;
            padding-top: 2rem;
            color: $white;
            font-weight: bold;
            border: .4rem solid $white;

        }
        .wrapper{
            i{
                position: absolute;
                display: inline-block;
                margin-top: 1.7rem;
                margin-left: 0rem;
                border-radius: 4px;
                color: $light-white;
                background: $green;
                font-size: 2rem;
                padding: 1.5rem;

            }
        }
        .box{
            width: 100%;
            padding: 1.2rem 1.3rem;
            border: .4rem solid $white;
            font-size: 1.2rem;
            margin: 1.7rem 0;
            border-radius: 24px;
            
                padding-left: 5rem;
            
        }
        .flex{
            padding: 1rem 0;
            display: flex;
            align-items: center;
            gap: .4rem;
            label{
                font-size: 1.6rem;
                color: black;
                cursor: pointer;
            }
            a{
                font-size: 1.6rem;
                color: black;
                margin-left: auto;
                &:hover{
                    border-bottom: .2rem solid $white;
                }
            }
        }
        .btn{
            width: 30vw;
            background: green;
            color: $white;
            text-transform: capitalize;
            font-size: 1.5rem;
            border-radius: 25px;
            padding: 2rem;
            &:hover{
                background: $light-green;
                font-weight: bold;
                color: green;
                transition: all 500ms ease-in-out;
            }
        }
       
    }
       
    .buttons .btn{
            margin: 1.5rem;
            background: white;
            font-size: 1.5rem;
            padding: 2rem;
            border: .4rem solid chocolate;
            border-radius: 4px;
            color: $black;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-top: 10%;
            &.active{
                background: blue;
                color: $white;
            }
    }
    .register-form{
        border: .4rem solid $white;
        padding: 1.2rem;
        margin-top: -2vh;
        text-align: center;
        background: $blue;
        display: none;
        &.active{
            &.active{
                display: block;
                width: 60vw;
            //    margin: 50%;
            }
        }
        h3{
            text-transform: uppercase;
            @include titleText(3rem);
            padding-bottom: 1rem;
            background: $green;
            padding: 2rem;
            margin-top: 0%;
            padding-top: 2rem;
            color: $white;
            font-weight: bold;
            border: .4rem solid $white;

        }
        .wrapper{
            i{
                position: absolute;
                display: inline-block;
                margin-top: 1.7rem;
                margin-left: 0rem;
                border-radius: 4px;
                color: $light-white;
                background: $green;
                font-size: 2rem;
                padding: 1.5rem;

            }
        }
        .box{
            width: 100%;
            padding: 1.2rem 1.3rem;
            border: .4rem solid $white;
            font-size: 1.2rem;
            margin: 1.7rem 0;
            border-radius: 24px;
            
                padding-left: 5rem;
            
        }
        .flex{
            padding: 1rem 0;
            display: flex;
            align-items: center;
            gap: .4rem;
            label{
                font-size: 1.6rem;
                color: black;
                cursor: pointer;
            }
            a{
                font-size: 1.6rem;
                color: black;
                margin-left: auto;
                &:hover{
                    border-bottom: .2rem solid $white;
                }
            }
        }
        .btn{
            width: 30vw;
            background: green;
            color: $white;
            text-transform: capitalize;
            font-size: 1.5rem;
            border-radius: 25px;
            padding: 2rem;
            &:hover{
                background: $light-green;
                font-weight: bold;
                color: green;
                transition: all 500ms ease-in-out;
            }
        }
       
    }
       
    .buttons .btn{
            margin: 1.5rem;
            margin-bottom: 0;
            background: white;
            width: 22vw;
            font-size: 1.5rem;
            padding: 2rem;
            border: .4rem solid chocolate;
            border-radius: 4px;
            color: $black;
            cursor: pointer;
            &.active{
                background: linear-gradient(#f51d0a,#d42f20,#e33424 );
                color: $white;
            }
    }
    &.active{
        display: block;
    }
}
.btn{
    width: 10em;
    background: green;
    color: $white;
    text-transform: capitalize;
    font-size: 1.5rem;
    border-radius: 25px;
    padding: .8rem;
    
    &:hover{
        background: $light-green;
        font-weight: bold;
        color: green;
        transition: all 500ms ease-in-out;
    }}
.home{
    padding: 0%;
    .slide{
        
        display: flex;
        align-items: center;
        padding-left: 10vw;
                background-size: cover !important;
        background-position: center !important;
        height: 60rem;
        .content{
            width: 51rem;
            h3{
                @include titleText(5rem);
                color: $green;
                            }
        p{
            @include graphText(1.5rem);
            color: $light-white;
            padding: 1rem 0;
        }
                        }
    }
    
}
.swiper-button-next{
    margin-right: .5rem;
}
.Heading{
    text-align: center;
    margin-bottom: 2rem;
    @include titleText(3rem);
    font-family: 'Quintessential', cursive;

}
.subjects{
    .box-container{
        @include grid(20rem);
        .box{
            padding: 3rem 0rem;
            border: $border;
            background: $light-green;
            text-align: center;
            &:hover{
                background: $green;
                h3{
                    color: white;
                }
                p{
                    color: white;
                }
            }
            img{
                height: 10rem;
                width: 10rem;
                margin-bottom: .8rem;
            }
            h3{
                @include titleText(1.9rem);
                padding: .5rem .2rem;
            }
            p{
                @include graphText(1.5rem);
            }
        }
    }
}

.home-courses{
   .heading {
        font-family: 'Quintessential', cursive;
        text-transform: capitalize;
        font-size: 3rem;
        text-align: center;
      }

    .slide{
       text-align: center;
       position: relative;
       background: $light-green;
       overflow:hidden;
        width: 50rem;
       &:hover .content{
          bottom: 0;
       }
 
       .image{
          padding:2rem;
          img{
             width: 35%;
             
             margin-bottom: 1.5rem;
          }
 
          h3{
             @include titleText(2rem);
          }
       }
 
       .content{
          position: absolute;
          bottom:-100%; right:0; left:0;
          background: $green;
          padding:2rem 3rem;
 
          h3{
             @include titleText(2rem);
             color:$white;
          }
 
          p{
             padding:1rem 0;
             @include graphText(1.5rem);
             color:$light-white;
          }
 
          .btn:hover{
             background: $black;
             color: $light-white;
          }
       }
    }
 }
 .heading-link{
     text-align: center;
     background: url(Images/heading-bg.jpg) no-repeat;
     background-size: cover;
     background-position: center;
     h3{
         @include titleText(4rem);
         margin-top: 1rem;
     }
     p{
         @include graphText(2rem);
         a{
             color: $green;
             &:hover{
                 text-decoration: underline;
             }

         }
     }
 }

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.2rem;
    .images{
        flex: 1 1 40rem;
        img{
            width: 100%;
            float: left;
        }
    }
    .content{
        flex: 1 1 40rem;
        .about-title{
            @include titleText(2.5rem);
                   }
                   p{
                       @include graphText(1.5rem);
                       padding: 1rem 0;
                   }
                   .icons-container{
                       margin-top: 1rem;
                       display: flex;
                       flex-wrap: wrap;
                       gap: 1.5rem;
                    //    @include graphText(16rem);
                    @include grid(16rem);
                       .icons{
                           flex: 1 1 16rem;
                           text-align: center;
                           padding: 3em 2em;
                           border: $border;
                           &:hover{
                               background: $light-green;
                           }
                       }
                       img{
                           height: 7rem;
                           margin-bottom: 1rem;
                       }
                       h3{
                           @include titleText(2rem);
                       }
                       span{
                           @include graphText(1.5rem);
                       }
                   }
    }
}
  .reviews{
      .heading{
          display: flex;
          align-items: center;
          justify-content: center;
          @include titleText(3rem);
      }
      .slide{
          text-align: center;
          width: 30rem;
          padding: 3rem;
          p{
              @include graphText(1.5rem);
              position: relative;
              background: $light-green;
              border: $border;
              margin-bottom: 3rem;
              padding: 1.3rem;
              &::before{
                  content: '';
                  position: absolute;
                    bottom: -1.2rem;
                    left: 50%;
                    transform: translateX(-50%) rotate(45deg);
                    background: $light-green;
                    border-bottom: $border;
                    border-right: $border;
                    height: 2rem;
                    width: 2rem;
                }
          }
          img{
              height: 5rem;
              width: 5rem;
              border-radius: 50%;
          }
          h3{
              padding: .5rem 0;
              @include titleText(2.5rem);
          }
          .stars{
              font-size: 1.2rem;
              color: $green;
          }
      }
      .swiper-button-next{
          padding-left: 5rem;
          margin-top: 2rem;
      }
      .swiper-button-prev{
        padding-right: 5rem;
        margin-top: 2rem;
      }
  }  
    .teachers{
        .heading{
            text-align: center;
            display: flex;
            @include titleText(3rem);
            align-items: center;
            justify-content: center;
        
            
        }
        .slide{
            width: 30rem;
            // height: 30rem;
            text-align: center;
            &:hover{
                .image{
                    
                    img{
                        background: $green;
                        
                    }
                    .share{
                        bottom: 0%;
                        transition: all 200ms ease-in-out;
                    }
                }
            }
            .image{
                position: relative;
                overflow: hidden;
                img{
                    background: $light-green;
                    width: 100%;
                }
                .share{
                    position: absolute;
                    left: 0;right: 0;bottom: -100%;
                    background: rgba(0,0,0,.9);
                    padding: 1.5rem;
                    a{
                        font-size: 3rem;
                        margin: 0 1rem;
                        color: white;
                        &:hover{
                            color: $green;
                            font-size: 3.3rem;
                        }
                    }
                }
            }
            .content{
                display: flex;
                padding-top: 1.5rem;
                align-items: center;
                justify-content: space-between;
                h3{
                    @include titleText(2rem);
                }
                span{
                    @include graphText(1rem);
                }
            }
        }
    }
    .courses{
        h1{
            display: flex;
            align-items: center;
            justify-content: center;
            @include titleText(3rem);
        }
        .box-container{
            @include grid(30rem);
            .box{
                &:hover .image img{
                    transform: scale(1.3);
                }
                .image{
                    height: 25rem;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    h3{
                        @include titleText(2rem);
                        position: absolute;
                        margin-top: -23rem;
                        margin-left: 1rem;
                        padding: .5rem;
                        background: $white;
                    }

                }
                .content{
                    padding:2rem;
                    text-align: center;
                    border: $border;
                    h3{
                        @include titleText(2rem);
                    }
                    p{
                        padding: 1rem .5rem;
                        @include graphText(1.5rem);
                    }
                    .icons{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 2rem;
                        padding-top: 2rem;
                        border-top: $border;
                        span{
                            @include titleText(1.5rem);
                            i{
                                color: $green;
                                padding-right: .8rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .contact{
        .heading{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @include titleText(3rem);
        }
        .icons-container{
            @include grid(25rem);
            margin-bottom: 2rem;
            .icons{
                text-align: center;
                padding: 3rem;
                border: $border;
                background: $light-green;
                i{
                    height: 6rem;
                    width: 6rem;
                    line-height: 6rem;
                    font-size: 2rem;
                    border-radius: 50%;
                    margin-bottom: .5rem;
                    color: $white;
                    background: $green;
                }
                h3{
                    @include titleText(2rem);
                    padding: .5rem 0;
                }
                p{
                    @include graphText(1.5rem);
                    word-break: break-all;
                    
                }
            }
        }
        .row
        {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            .image{
                flex: 1 1 40rem;
                img{
                    width: 100%;

                }
            }
            form{
                flex: 1 1 40rem;
                border: $border;
                text-align: center;
                padding: 2rem;
                h3{
                    @include titleText(3rem);
                    padding-bottom: 1rem;
                }
                .box{
                    width: 100%;
                    padding: 1.2rem 1.5rem;
                    border: $border;
                    font-size: 1.7rem;
                    margin: .7rem 0;
                    &:focus{
                        background: $green;
                        color: $white;
                        &::placeholder{
                            color: $white;
                        }
      
                    }
                                 }
            }
        }
    }
.footer{
    background: $light-green;
    .box-container{
        @include grid(25rem);
        .box{
            h3{
                @include titleText(2.2rem);
                padding: 1rem 0;
                i{
                    color: brown;
                }
            }
            .share{
                margin-top: 1.3rem;
                margin-left: .5rem;
                a{
                    height: 4.5rem;
                    width: 4.5rem;
                    line-height: 4.5rem;
                    font-size: 1.8rem;
                    background: $green;
                    color: white;
                    text-align: center;
                    border-radius: 50%;
                    &:hover{
                        background: $black;
                        transition: all .5sec ease-in-out;
                    }
                }
            }
            .link{
                @include graphText(1.8rem);
                padding: .5rem 0;
                display: block;
                &:hover{
                    color: $green;
                    text-decoration: underline;
                }
            }
            p{
                @include graphText(1.5rem);
                pad: 1rem 0;
            }
            .email{
                width: 100%;
                padding: 1.22rem 1.4rem;
                border: $border;
                margin-bottom: 2rem;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.4rem;
            }
            .btn{
                width: 10em;
                background: green;
                color: $white;
                text-transform: capitalize;
                font-size: 1.5rem;
                border-radius: 25px;
                padding: .8rem;
                &:hover{
                    background: $light-green;
                    font-weight: bold;
                    color: green;
                    transition: all 500ms ease-in-out;
                }}
        }
    }
    .credit{
        text-align: center;
        @include titleText(2rem);
        margin-top: 3rem;
        padding-top: 3rem;
        border-top: $border;
        span{
            text-align: center;
            color: $green;
        }
}
}

// Media queries
@media (max-width:1200px) {
    .header{
        padding: 2rem 1.5vw;
    }
    section{
        padding: 3rem 5%;
    }
}
@media (max-width:991px) {
    html{
        font-size: 55%;
        .header{
            padding: 2rem;
        }
    }
    section{
        padding: 3rem 2rem;
    }
   
}
@media (max-width:768px) {
    html{
        font-size: 55%;
        .header{
            padding: auto;
            #menu-btn{
                display: inline-block;
            }
            .navbar{
                #close-navbar{
                    display: block;
                }
                display: flex;
                flex-flow: column;
                position: fixed;
                width: 100%;
                background: $black;
                top: 0%;
                right: -100%;
                // box-shadow: 0 0 0 100vw rgba(0,0,0,.9);
                height: 100%;
                z-index: 1000000;
                &.active{
                    box-shadow: 0 0 0 100vw rgba(0,0,0,.9);
                    right: 0%;
                    transition: all 500ms ease-in-out;
                }
                a{
                    display: block;
                    margin: 1rem 0;
                    margin-top: 5vh;
                    text-align: center;
                    font-size: 3rem;
                    padding-top: 2rem;
                }

            }
        .icons > div {
            // display: none;
            position: relative;
        }
        }
    }
    section{
        padding: 3rem 2rem;
    }
}
@media (max-width:551px) {
    html{
        font-size: 50%;
        .header{
            padding: auto;
        }
    }
    .footer{
    .btn{
        width: 10em;
        background: green;
        color: $white;
        text-transform: capitalize;
        font-size: 1.5rem;
        border-radius: 25px;
        padding: .8rem;
        &:hover{
            background: $light-green;
            font-weight: bold;
            color: green;
            transition: all 500ms ease-in-out;
        }}}
}